#tabs .navbar-default {
  background-color: #fff;
  border-color: #fff;
}
.search {
  padding: 1rem;
  border: 1px dotted #ccc;
}
.search > h3 {
  display: none;
}
.footer {
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px dotted #ccc;
}
.footer .address {
  margin-left: 0em;
  padding-left: 0em;
  margin-top: 1em;
}
.footer .profile {
  margin-top: 1em;
  text-align: left;
}
.footer .profile img {
  float: left;
  margin-right: 0.5em;
  border-radius: 10%;
}
.footer .links {
  text-align: right;
}

.breadcrumb>li+li:before {
  content: "\007C\00a0" !important;
}

/* BROWSE MENU ITEM  */
.navbar-nav li:nth-child(2) {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  color: #000;
  display: none;
}

.navbar-nav li:nth-child(2) :after {
    content: ":"
}
